a{
    color: darkred;
}

#rouge{
    color: red;
}

#bonjour{
    display: block;
}

div{
    background-color: darkgrey;
    width: 500px;
    height: auto;
    text-align: center;
    border-radius: 20px;
}

#envoi{
    margin-top: 20px;
}

label{
    display: block;
}

td{
    width: 85%;
    height: 50px;
    background-color: aqua;
}

.categorie{
    width: 100px;
    text-align: center;
}

table{
    background-color: black;
}