body{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: darkred;
}

#rouge{
    color: red;
}

#bonjour{
    display: block;
}

header{
    background-color: brown;
    height: 5%;
}

p{
    text-align: center;
    padding: 10px;
}

article{
    width: 100%;
    margin: auto;
    background-color: red;
}

#membre{
    background-color: darkgrey;
    width: 30%;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
}

#choixcat{
    width: 30%;
    display: inline-block;
    text-align: center;
    background-color: darkgrey;
    border-radius: 20px;
}

.input{
    width: 50%;
}

#tableau{
    margin-left: 5%;
    margin-right: 5%;
}

#envoi{
    margin-top: 20px;
}

label{
    display: block;
}

td{
    width: 85%;
    height: 50px;
    background-color: aqua;
}

.categorie{
    width: 100px;
    text-align: center;
}

#centre{
    text-align: center;
}

table{
    background-color: black;
    
}



